In [109]:
# linear algebra
import numpy as np
 
# data processing
import pandas as pd
 
# data visualization
import matplotlib.pyplot as plt
import seaborn as sns
 
# Algorithms
from sklearn import preprocessing
from sklearn.preprocessing import LabelEncoder, label_binarize
from sklearn.model_selection import train_test_split
from sklearn import linear_model
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.model_selection import train_test_split, GridSearchCV, StratifiedKFold, cross_val_score
from sklearn.model_selection import cross_validate
from sklearn.metrics import accuracy_score, precision_score, recall_score, roc_curve, precision_recall_curve, auc, make_scorer, confusion_matrix, f1_score, fbeta_score, roc_auc_score
# Import the Naive Bayes, logistic regression, Bagging, RandomForest, AdaBoost, GradientBoost, Decision Trees and SVM Classifier
from sklearn.naive_bayes import MultinomialNB
from sklearn.ensemble import BaggingClassifier, RandomForestClassifier, AdaBoostClassifier, GradientBoostingClassifier

In [110]:
train = pd.read_csv("training_data.csv")
test = pd.read_csv("testing_data.csv")

In [111]:
train.shape

(3000, 36)

In [112]:
test.shape

(998, 35)

In [113]:
train.Salary.unique()

array([ 200000,  190000,  335000,  325000,  360000,  100000, 1200000,
        705000,  420000,  700000,  480000,  240000,  775000,  515000,
        650000,  350000,  395000,  260000,  150000,  600000,  115000,
        250000,  320000,   95000,  470000,  460000,  280000,  345000,
        445000,  180000,  440000, 3000000,  220000,  215000,  300000,
        120000,  485000,  145000,  270000,  315000,  370000,  630000,
        330000,  305000,  310000,  295000,  450000,  400000,  430000,
        105000,  265000,  730000,  500000,  555000,  415000,  550000,
        505000,  340000,  160000,  375000,  275000,   60000,  135000,
        205000,  225000,  170000,  210000,  365000,  140000,  195000,
        620000,  455000,   85000,  110000,  290000,  235000,  405000,
        390000,  245000,  930000,  435000,  385000,  255000,  950000,
        560000,  230000,   70000,  640000,  185000,  425000,  175000,
         80000,  565000,   75000,  155000,  715000,  610000,  880000,
        725000,  355000,  165000, 1000000,  675000,   50000,  530000,
         90000, 1320000,  410000,  660000,  510000,  380000,  490000,
       1500000,  800000, 1100000,  285000,  615000,  495000,  860000,
       2600000,  520000,  130000,  125000, 2050000,  845000, 1800000,
        575000,  570000,  820000,  720000,   35000, 3500000,  850000,
         65000,  465000,  540000,  655000,  690000,  810000,  525000,
        625000,  475000,  144000, 2300000,  590000, 1300000,   40000,
        785000,  755000,   45000, 1030000,  925000,  585000,  750000,
         55000,  645000,  545000,  760000, 1745000, 2020000,  580000,
        900000,  605000, 1110000,  535000,  680000, 2000000], dtype=int64)

In [114]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 36 columns):
Unnamed: 0               3000 non-null int64
ID                       3000 non-null int64
Salary                   3000 non-null int64
JobCity                  3000 non-null object
Gender                   3000 non-null object
DOB                      3000 non-null object
10percentage             2808 non-null float64
10board                  3000 non-null object
12graduation             2555 non-null float64
12percentage             3000 non-null float64
12board                  3000 non-null object
CollegeID                3000 non-null int64
CollegeTier              3000 non-null int64
Degree                   3000 non-null object
Specialization           2848 non-null object
collegeGPA               3000 non-null float64
CollegeCityID            2843 non-null float64
CollegeCityTier          3000 non-null int64
CollegeState             3000 non-null object
GraduationYear           3000 non-null int64
English                  3000 non-null int64
Logical                  3000 non-null int64
Quant                    3000 non-null int64
Domain                   3000 non-null float64
ComputerProgramming      3000 non-null int64
ElectronicsAndSemicon    3000 non-null int64
ComputerScience          3000 non-null int64
MechanicalEngg           3000 non-null int64
ElectricalEngg           3000 non-null int64
TelecomEngg              3000 non-null int64
CivilEngg                3000 non-null int64
conscientiousness        2749 non-null float64
agreeableness            3000 non-null float64
extraversion             3000 non-null float64
nueroticism              2544 non-null float64
openess_to_experience    3000 non-null float64
dtypes: float64(11), int64(17), object(8)
memory usage: 843.8+ KB

In [115]:
train.JobCity.unique()

array(['Bangalore', 'Chennai', 'Chennai & Mumbai', 'Noida', 'kolhapur',
       'hyderabad', 'New Delhi', 'Navi Mumbai', 'Mumbai', 'sampla',
       'Dammam', '-1', 'Rewari', 'Pune', 'Kolkata', 'Lucknow', 'Gurgaon',
       'Faridabad', 'Jodhpur', 'Indore', 'Jaipur', 'Bathinda',
       'Hyderabad', 'Mysore', 'Greater Noida', 'noida', 'Patna', 'mohali',
       'Rourkela', 'CHENNAI', 'Ernakulam', 'Bangalore ', 'Bhubaneshwar',
       'pune', 'Coimbatore', 'Banglore', 'bangalore', 'Unnao',
       'Bhubaneswar', 'Siliguri ', 'Delhi', 'indore', 'Neemrana',
       'Bhopal', 'muzzafarpur', 'Ongole', 'jaipur', 'Shahdol',
       'Trivandrum', 'Pondicherry', ' Pune', 'jAipur', 'Madurai ',
       'Bahadurgarh', 'Vellore', 'Thane', 'Bilaspur', 'Rajasthan',
       'Mangalore', 'Vijayawada', 'mumbai', 'Karnal', 'Kochi', 'pune ',
       'Hyderabad ', 'Ghaziabad', 'Nashik', 'Pune ', 'Greater noida',
       'Chandigarh', 'Nasikcity', 'Haldia', 'KOLKATA', 'Rajkot',
       'Bengaluru', 'Gurgaon ', ' Delhi', 'Muzaffarpur', 'ghaziabad',
       'Aurangabad', 'Roorkee', 'Muzaffarnagar', 'karnal', 'Dubai',
       'chennai', 'BANGALORE ', 'udaipur', 'Ahmedabad', 'Tornagallu',
       'gurgoan', 'Dehradun', 'trivandrum', 'HYDERABAD',
       'hyderabad(bhadurpally)', ' Mumbai', 'Agra', 'Chennai ', 'Beawar',
       'PUNE', 'Gonda', 'Siliguri', 'Raipur', 'bihar', 'Visakhapatnam',
       'TRIVANDRUM', 'Kanpur', 'GURGOAN', 'Belgaum', 'bhubaneswar',
       'kudankulam ,tarapur', 'Pilani', 'Dharmapuri', 'Madurai', 'Noida ',
       'Phagwara', 'Chennai, Bangalore', 'Trichy', 'Kochi/Cochin',
       'new delhi', 'Hubli', 'Kolkata`', 'gurgaon', 'Chandrapur',
       'Hissar', 'Ahmednagar', 'Nagpur', 'kolkata', 'Bareli',
       'Banagalore', 'AM', 'Thiruvananthapuram', 'THANE', 'Jamshedpur',
       'Mysore ', 'Ambala', 'Jeddah Saudi Arabia', 'kharagpur',
       'vsakhapttnam', 'sonepat', 'patna', 'Surat', 'Chandigarh ',
       'Gandhi Nagar', 'Tirupati', 'Jalandhar', 'Mettur, Tamil Nadu ',
       'new delhi - jaisalmer', 'Haridwar', 'New Delhi ', 'Alwar',
       'Durgapur', 'Australia', ' bangalore', 'Jabalpur', 'Khopoli',
       'delhi', 'Muvattupuzha', 'Sonipat', 'ranchi', 'haryana', 'Nagpur ',
       'Dhanbad', 'Gandhinagar', 'Bulandshahar', 'new dehli', 'Ranchi',
       'Jhansi', 'kala amb ', 'Mohali', 'keral', 'RAE BARELI', 'Howrah',
       'NOIDA', 'Rohtak', 'Asansol', 'Burdwan', 'banglore', 'Tirupathi',
       'Dharuhera', 'dehradun', 'Jaspur', 'Kalmar, Sweden', 'bengaluru',
       'Mumbai ', 'coimbatore', 'Secunderabad', 'Tirunelvelli', 'Ganjam',
       'Ranchi ', 'Baroda', 'LUCKNOW', 'manesar', 'Pantnagar',
       'Miryalaguda', 'CHEYYAR', 'vizag',
       'Kochi/Cochin, Chennai and Coimbatore', 'Bankura', 'GURGAON',
       'Maharajganj', ' Chennai', 'Rayagada, Odisha', 'punr', 'Banglore ',
       'Asifabadbanglore', 'PATNA', 'Greater NOIDA', 'DELHI', 'GURAGAON',
       'SHAHDOL', 'Gorakhpur', 'Rajpura', 'Karad', 'Punchkula', 'lucknow',
       'MEERUT', 'thane', 'latur (Maharashtra )', 'Delhi/NCR',
       'Sahibabad', 'Bundi', 'Dharamshala', 'Jaipur ', 'Nanded', 'Shimla',
       'Baddi HP', 'NEW DELHI', 'Bhiwadi', 'Bhagalpur', 'Ludhiana',
       'Gurga', 'Jagdalpur', 'Baripada', 'pondi', 'Johannesburg',
       'Bharuch', 'Panchkula', 'Bikaner', 'chandigarh', 'VIZAG',
       'bangalore ', 'Ahmedabad ', 'GREATER NOIDA', 'Bhubneshwar',
       'kanpur', 'ncr', 'vapi', 'BHOPAL', 'Navi mumbai', 'Trichur',
       'hderabad', 'Bhubaneswar ', 'BANGALORE', 'Trivandrum ', 'Jhajjar',
       'Nalagarh', 'Yamuna Nagar', 'Calicut', 'angul', 'KANPUR',
       'Kanpur ', 'Daman and Diu', ' ariyalur', 'Patiala', 'mysore',
       'SADULPUR,RAJGARH,DISTT-CHURU,RAJASTHAN', 'noida ', 'Manesar',
       'Nellore', 'mumbai ', 'Al Jubail,Saudi Arabia', 'Guwahati',
       'raipur', 'Mainpuri', 'Bhopal ', 'Gurgoan', 'Jowai'], dtype=object)

In [116]:
train['JobCity'] = train['JobCity'].str.lower()

In [117]:
train['JobCity'] = train['JobCity'].replace(['bangalore', 'bangalore ','banglore', 'bangalore','bengaluru',
                                            'banagalore', ' bangalore', 'banglore', 'banglore', 'banglore ', 'asifabadbanglore', 'bangalore ','bangalore '], 'bangalore')

In [154]:
train.JobCity.unique()

array(['bangalore', 'chennai', 'chennai & mumbai', 'noida', 'kolhapur',
       'hyderabad', 'new delhi', 'navi mumbai', 'mumbai', 'sampla',
       'dammam', 'rewari', 'pune', 'kolkata', 'lucknow', 'gurgaon',
       'faridabad', 'jodhpur', 'indore', 'jaipur', 'bathinda', 'mysore',
       'patna', 'mohali', 'rourkela', 'ernakulam', 'bhubaneshwar',
       'coimbatore', 'unnao', 'siliguri', 'neemrana', 'bhopal',
       'muzaffarpur', 'ongole', 'shahdol', 'trivandrum', 'pondicherry',
       'madurai', 'bahadurgarh', 'vellore', 'thane', 'bilaspur',
       'rajasthan', 'mangalore', 'vijayawada', 'karnal', 'kochi',
       'ghaziabad', 'nashik', 'chandigarh', 'haldia', 'rajkot',
       'aurangabad', 'roorkee', 'muzaffarnagar', 'dubai', 'udaipur',
       'ahmedabad', 'tornagallu', 'dehradun', 'agra', 'beawar', 'gonda',
       'raipur', 'bihar', 'vizag', 'kanpur', 'belgaum',
       'kudankulam ,tarapur', 'pilani', 'dharmapuri', 'phagwara',
       'chennai, bangalore', 'trichur', 'kochi/cochin', 'hubli',
       'chandrapur', 'hissar', 'ahmednagar', 'nagpur', 'bareli', 'am',
       'jamshedpur', 'ambala', 'jeddah saudi arabia', 'kharagpur',
       'sonipat', 'surat', 'gandhinagar', 'tirupati', 'jalandhar',
       'mettur, tamil nadu ', 'new delhi - jaisalmer', 'haridwar',
       'alwar', 'durgapur', 'australia', 'jabalpur', 'khopoli',
       'muvattupuzha', 'ranchi', 'haryana', 'dhanbad', 'bulandshahar',
       'jhansi', 'kala amb ', 'keral', 'howrah', 'rohtak', 'asansol',
       'burdwan', 'dharuhera', 'jaspur', 'kalmar, sweden', 'secunderabad',
       'tirunelvelli', 'ganjam', 'baroda', 'manesar', 'pantnagar',
       'miryalaguda', 'cheyyar', 'kochi/cochin, chennai and coimbatore',
       'bankura', 'maharajganj', 'rayagada, odisha', 'gorakhpur',
       'rajpura', 'karad', 'punchkula', 'meerut', 'latur (maharashtra )',
       'ncr', 'sahibabad', 'bundi', 'dharamshala', 'nanded', 'shimla',
       'baddi hp', 'bhiwadi', 'bhagalpur', 'ludhiana', 'jagdalpur',
       'baripada', 'pondi', 'johannesburg', 'bharuch', 'panchkula',
       'bikaner', 'vapi', 'jhajjar', 'nalagarh', 'yamuna nagar',
       'calicut', 'angul', 'daman and diu', ' ariyalur', 'patiala',
       'sadulpur,rajgarh,distt-churu,rajasthan', 'nellore',
       'al jubail,saudi arabia', 'guwahati', 'mainpuri', 'jowai'],
      dtype=object)

In [119]:
train['JobCity'] = train['JobCity'].replace(['bhubaneshwar', 'bhubaneswar','bhubneshwar', 'bhubaneswar '], 'bhubaneshwar')

In [120]:
train['JobCity'] = train['JobCity'].replace(['new delhi', 'delhi',' delhi', 'new delhi ','new dehli'], 'new delhi')

In [121]:
train['JobCity'] = train['JobCity'].replace(['bhopal', 'bhopal '], 'bhopal')

In [122]:
train['JobCity'] = train['JobCity'].replace(['sonepat', 'sonipat'], 'sonipat')

In [123]:
train['JobCity'] = train['JobCity'].replace(['tirupati', 'tirupathi'], 'tirupati')

In [124]:
train['JobCity'] = train['JobCity'].replace(['hyderabad', 'hyderabad ', 'hyderabad(bhadurpally)','hderabad'], 'hyderabad')

In [125]:
train['JobCity'] = train['JobCity'].replace(['gurgaon', 'gurgaon ', 'gurga', 'gurgoan', 'guragaon'], 'gurgaon')

In [126]:
train['JobCity'] = train['JobCity'].replace(['noida', 'greater noida','noida '], 'noida')

In [127]:
train['JobCity'] = train['JobCity'].replace(['pune', ' pune','pune ','punr'], 'pune')

In [128]:
train['JobCity'] = train['JobCity'].replace(['muzzafarpur', 'muzaffarpur'], 'muzaffarpur')

In [129]:
train['JobCity'] = train['JobCity'].replace(['jaipur', 'jaipur '], 'jaipur')

In [130]:
train['JobCity'] = train['JobCity'].replace(['kanpur', 'kanpur '], 'kanpur')

In [131]:
train['JobCity'] = train['JobCity'].replace(['nagpur', 'nagpur '], 'nagpur')

In [132]:
train['JobCity'] = train['JobCity'].replace(['thiruvananthapuram', 'trivandrum','trivandrum '], 'trivandrum')

In [133]:
train['JobCity'] = train['JobCity'].replace(['vsakhapttnam', 'vizag','vishakhapatnam','visakhapatnam'], 'vizag')

In [134]:
train['JobCity'] = train['JobCity'].replace(['gandhi nagar','gandhinagar'], 'gandhinagar')

In [135]:
train['JobCity'] = train['JobCity'].replace(['chennai', 'chennai ',' chennai'], 'chennai')

In [136]:
train['JobCity'] = train['JobCity'].replace(['delhi/ncr','ncr'], 'ncr')

In [137]:
train['JobCity'] = train['JobCity'].replace(['trichy','trichur'], 'trichur')

In [138]:
train['JobCity'] = train['JobCity'].replace(['nasikcity','nashik'], 'nashik')

In [139]:
train['JobCity'] = train['JobCity'].replace(['madurai ','madurai'], 'madurai')

In [140]:
train['JobCity'] = train['JobCity'].replace([' mumbai','mumbai '], 'mumbai')

In [141]:
train['JobCity'] = train['JobCity'].replace(['kolkata ','kolkata`'], 'kolkata')

In [142]:
train['JobCity'] = train['JobCity'].replace(['siliguri '], 'siliguri')

In [143]:
train['JobCity'] = train['JobCity'].replace(['mysore '], 'mysore')

In [144]:
train['JobCity'] = train['JobCity'].replace(['rae bareli'], 'bareli')

In [145]:
train['JobCity'] = train['JobCity'].replace(['ahmedabad '], 'ahmedabad')

In [146]:
train['JobCity'] = train['JobCity'].replace(['chandigarh '], 'chandigarh')

In [147]:
train['JobCity'] = train['JobCity'].replace(['ranchi '], 'ranchi')

In [148]:
train.JobCity.value_counts()

bangalore                528
-1                       347
noida                    301
hyderabad                263
pune                     246
chennai                  238
gurgaon                  173
new delhi                170
kolkata                   91
mumbai                    90
jaipur                    43
mysore                    32
bhubaneshwar              32
navi mumbai               26
lucknow                   26
chandigarh                24
indore                    20
coimbatore                15
bhopal                    14
ahmedabad                 13
faridabad                 13
trivandrum                13
kochi/cochin              10
mangalore                 10
mohali                     9
nagpur                     9
vizag                      9
ghaziabad                  8
kanpur                     8
patna                      7
                        ...
bihar                      1
am                         1
tornagallu                 1
maharajganj                1
cheyyar                    1
jalandhar                  1
pondi                      1
bikaner                    1
jhansi                     1
bharuch                    1
australia                  1
jhajjar                    1
muzaffarnagar              1
vellore                    1
nanded                     1
chennai & mumbai           1
nellore                    1
durgapur                   1
baddi hp                   1
rajkot                     1
bathinda                   1
latur (maharashtra )       1
agra                       1
kudankulam ,tarapur        1
bulandshahar               1
rourkela                   1
alwar                      1
new delhi - jaisalmer      1
chennai, bangalore         1
sahibabad                  1
Name: JobCity, Length: 165, dtype: int64

In [149]:
a  = train[train.JobCity == '-1'].index

In [150]:
train.drop(a,inplace = True)

In [151]:
train.shape

(2653, 36)

In [155]:
 train.JobCity.nunique()

164

In [153]:
py

NameError: name 'py' is not defined